[submodule "src/ext/clap"]
	path = src/ext/clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "mir"]
	path = mir
	url = https://github.com/vnmakarov/mir
[submodule "pcre2"]
	path = pcre2
	url = git@github.com:buzz-language/pcre2.git
	branch = zig
